@import "reset.scss";
@import "variables.scss";

.warp {
  height: 100vh;
  color: #b9b9b9;
}

.content-box {
  width: 97%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 0.8fr 0.1fr 1.5fr;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
  .info {
    padding-left: 30px;
    height: 100%;
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: repeat(4, 1fr);

    :nth-child(3) {
      grid-column: 1 / span 2;
      grid-row: 2 / span 2;
    }

    :last-child {
      grid-column: 1 / span 2;
    }

    .info-img {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .img-box {
        position: relative;
        width: 145px;
        height: 145px;
        border-radius: 50%;
        background-color: #da8b93;
        overflow: hidden;
        .img-box__plofile {
          position: absolute;
          padding-top: 10px;
          width: 100%;
        }
      }
    }

    .info-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      overflow: hidden;
      .info-title__text {
        font-size: 40px;
        font-weight: bold;
      }
      .info-title__subtext {
        font-size: 40px;
        text-transform: uppercase;
        font-family: "DNFBitBitv2";

        &::after {
          content: "";
          margin-left: 0.3rem;
          border-right: 4px solid #777;
          animation: cursor 0.9s infinite steps(2);
        }
        @keyframes cursor {
          from {
            border-right-color: #222;
          }
          to {
            border-right-color: #777;
          }
        }
      }
    }

    .info-intro {
      padding-top: 20px;
      width: 100%;
      .info-intro__title {
        font-size: 25px;
        line-height: 28px;
        margin-bottom: 35px;
        font-weight: bold;
      }
      .info-intro__text {
        font-weight: 600;
        font-size: 14px;
        width: 50%;
        line-height: 19px;
      }
    }
  }
  .navicon {
    .nav-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      .nav-container__item {
        width: 50px;
        height: 50px;
        background-color: rgb(194, 196, 196);
        //css 캐스케이팅으로 nav태그를 사용하였던 것을 div로 바꿈
      }
    }
  }

  .Project {
    position: relative;
    width: 100%;
    height: 100%;
    color: #222;
    .project-section {
      width: 100%;
      height: 100%;
      background-color: #222;
      border-radius: 5%;
      box-sizing: border-box;
      padding: 40px;
      display: none;

      .project-section-work {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        gap: 25px;
        font-weight: bold;
        .work-right {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 25px;
          > div {
            border-radius: $round;
          }
          .work-oled {
            grid-column: 1 / span 2;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;

            .work-oled-logo {
              font-size: 130px;
              text-transform: uppercase;
            }
            .work-oled-box {
              position: absolute;
              width: 95%;
              height: 90%;
              background-color: rgb(0, 0, 0, 0.92);
              text-align: center;
              border-radius: 25px;
              opacity: 0;
              transform: translateY(100%);
              transition: transform 0.8s ease, opacity 0.8s ease; /* opacity에도 transition 추가 */

              .work-oled-box__text {
                display: block;
                height: 100px;
                width: 400px;
                padding-top: 20%;
                line-height: 27px;
                margin: auto;
                font-size: 20px;
              }
              .work-oled-box__btn {
                background-color: white;
                border: none;
                width: 80px;
                height: 40px;
                margin-top: 15px;
                font-size: 17px;
                font-weight: 600;
                border-radius: 5px;
                > a {
                  color: #222;
                }
              }
            }
            .work-oled-box.active {
              transform: translateY(0%);
              opacity: 1;
            }
          }
          .work-game {
            background-color: darkcyan;
            padding: $projectPadding;
            display: flex;
            justify-content: center;
            align-items: center;

            .work-game__text {
              font-size: 35px;
              line-height: 50px;
              text-transform: uppercase;
              text-align: center;
            }
          }
          .work__marshall {
            background-image: url(../img/marshall6.png);
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: $projectPadding;
            gap: 15px;
            color: #b9b9b9;
          }
        }
        .work-life {
          display: grid;
          grid-template-rows: 1fr 0.5fr;
          gap: 25px;
          > div {
            border-radius: $round;
          }
          .work-gstg {
            background-image: url(../img/gstg2.jpg);
            background-size: cover;
            display: flex;
            padding: $projectPadding;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            color: #29201b;
          }
          .work-box {
            background-color: darkgrey;
          }
        }
      }
    }
    .show {
      display: block;
    }
  }
}
