@import "reset.scss";
@import "variables.scss";

.warp {
  height: 100vh;
  color: white;
}

.content-box {
  width: 95%;
  height: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.8fr 1.3fr;
  background-color: black;
  padding: 10px;

  .info {
    padding: 20px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    gap: 20px;

    :nth-child(2) {
      grid-column: 2 / span 2;
    }
    :nth-child(3) {
      grid-column: 1 / span 2;
      grid-row: 2 / span 2;
    }
    :nth-child(4) {
      grid-row: 2 / span 2;
    }
    :last-child {
      grid-column: 1 / span 3;
    }

    .info-img {
      border-radius: 5%;
      background-color: white;
      .img__photo {
        width: 90%;
        height: 80%;
        border-radius: 50%;
        border: 5px solid white;
        background-image: url(https://source.unsplash.com/random);
        background-size: cover;
      }
    }

    .info-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      font-weight: bold;
      .info-title__text {
        font-size: 40px;
      }
      .info-title__subtext {
        font-size: 60px;
        text-transform: uppercase;
        color: cadetblue;
      }
    }
  }
}
